.layout {
  display: flex;
  justify-content: center;
  width: 100%;
}

.todoListWrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  border: 1px solid black;
}
.header {
  display: flex;
  flex-direction: column;
  margin: 24px;
}
.title {
  font-size: 32px;
}
.subTitle {
  font-size: 20px;
}
.filter {
  display: flex;
  justify-content: flex-end;
  margin: 0px 24px;
}

.form {
  margin: 24px;
}

.todoInput {
  width: 280px;
  height: 50px;
  font-size: 16px;
}

.submitBtn {
  width: 72px;
  height: 50px;
  font-size: 16px;
}

.todoList {
  height: 300px;
  overflow: scroll;
}
.todoItem {
  padding: 0 24px;
  margin: 4px 0;
  background: #c9c9c9;
  color: #ffffff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
