.layout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.layout .todo{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    padding: 12px;
}